body {
    background-color: #777;
}

.header {
  background-color: rgb(253, 246, 165);
  width: 100%
}

.alt-bg {
    color: #777;
    background-color: #ebebeb;
}

/* .wrapper {
	width: 960px;
	margin: 0 auto;
} */

nav {
    margin-bottom: 20px;
}

section {
    float: left;
    height: 445px;
    width: 495px;
    box-sizing: border-box;
  padding: 20px;
  margin: 15px;
}

section .title {
    padding: 15px;
}

aside {
    float: right;
    height: 445px;
    width: 495px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}


/* footer {
    margin-top: 20px;
} */

.clear {
    clear: both;
}

span{
  color:#f44336;
}

.search-field{
  height: 50px;
  padding: 10px;
  width: 400px;
}

.search-btn{
  height: 57px;
  width:150px;
  border:none;
  background: green;
}

.skills{
  width:400px;
}

.lacation{
  width: 200px;
}

.search-btn:hover{
  background: green;
  cursor: pointer;
}

.form-box{
  background: rgba(255, 255,255, 0.5);
  padding: 30px;
}
/* added styling for map box mh*/
#map{
  height: 400px;
  width: 50vw;

}

footer {
	margin-top: 20px;
}

.clear {
	clear: both;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 270px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

h1 {
  color:rgb(40, 6, 189);font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  }
#wrapper1 {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* .list-sidebar:hover {
  color: red;
  position: absolute;
  margin: 0 0 0 10px;
  width: 250px;
  padding: 0;
  list-style: none; */
/* } */

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 270px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }